/*
Wrapper principal
*/
#main_wrapper{
    width: 90%;
    margin: 0 auto;
}

/*
Flotamiento
*/
.float-der{
    float: right;
}

.float-izq{
    float: left;
}
.over{
    overflow: hidden;
}
/* parte del logotipo
*/

#logo h1{
    margin-bottom: 0px;
    margin-top: 27px;
    margin-left: 10px;
    
}
#logo p{
    margin: 0;
}
#main_title h2{
    margin-top: 0px;
}


/*
Menu
*/
header nav{
    margin-top: 55px;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


header ul li a:hover {
    color:firebrick;
    text-decoration: underline;
}